<!doctype html>
<html>
  <head>
    <title>初期タイトル</title>
    <!-- shopify自動出力（content_for_header） START -->
    {{ content_for_header }}
    <!-- shopify自動出力（content_for_header） END -->
  </head>

  <body>
    <!-- shopify自動出力（content_for_layout） START -->
    {{ content_for_layout }}
    <!-- shopify自動出力（content_for_layout） END -->
  </body>
</html>
